<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162772713-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-162772713-1');
    </script>

    <title>DAD I'M SO BORED</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Dad, I'm so bored!</h1>
        <p class="lead">Hey, kids who are stuck and home and are <b>SO BORED</b>, this is for you.</p>
        <hr class="my-4">
        <p>Please find some fun and, dare I say it, educational things to do below. It'll be okay.</p>

        <div id="background">
          <%= image_tag 'nerdface.png', class: 'grid-item' %>
        </div>
      </div>

      <%= yield %>

      <div id="footer">
        Made for Oliver and Audrey by <%= link_to 'Jon Evans', 'https://twitter.com/jon_evans', target: '_blank' %>. Copyright &copy; 2020.
      </div>
    </div>

    <script>
      $(document).ready(function() {
        var $grid = $('#background');
        var $gridItem = $('.grid-item');

        var gridItemHeight = $gridItem.height();
        var gridItemWidth = $gridItem.width();

        var horzCount = Math.floor($grid.width() / gridItemWidth);
        var vertCount = Math.floor($grid.height() / gridItemHeight);

        var totalGridItems = horzCount * vertCount;

        for (var i = 0; i < totalGridItems; i++) {
          var $gridItemClone = $gridItem.clone();
          $grid.append($gridItemClone);
        }
      })
    </script>
  </body>
</html>
